// =======================
// Global Buttons Styles
// =======================

$generate-classes: false !default;

@mixin button--base {
  @include paragraph(false);
  @include transition(background-color, color, border-color);

  display: inline-block;
  padding: calc-rem(6 12);
  border: calc-rem(2) solid $button-bc;
  border-radius: rem(6);
  margin-bottom: calc-rem(16);
  color: $button-fc;
  font-weight: 400;
  font-family: $font-family--header;
  background-color: $button-bgc;
  background-clip: padding-box;
  outline: none;
  cursor: pointer;
  appearance: none;
  text-rendering: optimizeLegibility;

  &:active,
  &:focus,
  &:hover {
    color: $button-fc--hover;
    background-color: $button-bgc--hover;
  }

  &:active {
    border-color: $button-bc--active;
  }

  &:disabled {
    border-color: rgba($black, 0.1) !important;
    color: $white !important;
    background-color: rgba($black, 0.1) !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
  }

  @include breakpoint(large) {
    padding: calc-rem(8 24);
    margin-bottom: rh(1);
  }
}
// -----------
// gray Button Mixin
@mixin button--gray {
  border-color: $button-gray-bc;
  color: $button-gray-fc;
  background-color: $button-gray-bgc;
  box-shadow: 0 0 0 0 $transparent;

  &:active,
  &:focus,
  &:hover {
    color: $button-gray-fc--hover;
    background-color: $button-gray-bgc--hover;
  }

  &:active {
    border-color: $button-gray-bc--active;
  }
}

// ---------
// Implementation
@if $generate-classes {
  .button,
  button {
    @include button--base;
  }

  .button--gray {
    @include button--gray;
  }
}
