// =======================
// Global Buttons Styles
// =======================

$generate-classes: false !default;

@mixin button--base {
  @include transition(background-color, color);

  display: inline-block;
  padding: calc-rem(16 36);
  border: 0;
  border-radius: rem(50);
  margin-bottom: calc-rem(16);
  color: $button-fc;
  font-weight: 700;
  font-size: rem(14);
  letter-spacing: rem(1.2);
  font-family: $font-family--header;
  text-transform: uppercase;
  background-color: $button-bgc;
  outline: none;
  cursor: pointer;
  appearance: none;
  text-rendering: optimizeLegibility;

  &:active,
  &:focus,
  &:hover {
    color: $button-fc--hover;
    background-color: $button-bgc--hover;
  }

  &:disabled {
    color: $white !important;
    background-color: rgba($black, 0.1) !important;
    cursor: not-allowed !important;
  }
}
// -----------
// primary Button Mixin
@mixin button--primary {
  color: $button-primary-fc;
  background-color: $button-primary-bgc;

  &:active,
  &:focus,
  &:hover {
    color: $button-primary-fc--hover;
    background-color: $button-primary-bgc--hover;
  }
}

// -----------
// primary Button Mixin
@mixin button--block {
  display: block;
  width: 100%;
  margin: 0 auto;
  
  @include breakpoint(medium) {
    max-width: rem(300);
  }
}

// -----------
// mobile Button Mixin
@mixin button--mobile {
  font-size: rem(12);
  padding: rem(6 8);
  margin-bottom: rem(3);
  
  @include breakpoint(medium) {
    font-size: rem(14);
    padding: calc-rem(16 36);
    margin-bottom: calc-rem(16);
  }
}

// ---------
// Implementation
@if $generate-classes {
  .button,
  button {
    @include button--base;
  }

  .button--primary {
    @include button--primary;
  }

  .button--block {
    @include button--block;
  }

  .button--mobile {
    @include button--mobile;
  }
}
