// =======================
// Global Headlines Styles
// =======================

$generate-classes: false !default;

@mixin headline {
  display: block;
  font-family: $font-family--header;
  font-weight: 600;
  line-height: 1.25;
  color: $headline-fc;
}

@mixin headline--lvl1($box-model: true) {
  @include headline;
  @include fluid(
    (
      font-size: (
        36,
        64
      )
    ),
    (medium, large)
  );
  @include fluid(
    (
      margin-bottom: (
        12,
        36
      )
    ),
    (medium, xlarge)
  );

  @if $box-model {
    padding: rh(0.25) 0;
    margin: rh(0.5) 0;
  }
}

@mixin headline--lvl1--underline {
  position: relative;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    bottom: rem(6);
    z-index: -1;
    display: block;
    width: 100%;
    height: rem(6);
    background-color: $green-meadow;
  }
}

@mixin headline--lvl2($box-model: true) {
  @include headline;
  @include fluid(
    (
      font-size: (
        26,
        40
      )
    ),
    (medium, xlarge)
  );

  @if $box-model {
    padding: rh(0.25) 0;
    margin: rh(0.25) 0;
  }
}

@mixin headline--lvl2--subtitle {
  padding: 0;
  margin: 0;
  color: rgba($headline-fc, 0.6);
  text-transform: uppercase;

  @include fluid(
    (
      font-size: (
        12,
        16
      )
    ),
    (small, large)
  );
}

@mixin headline--lvl3($box-model: true) {
  @include headline;

  font-size: rem(12);
  font-weight: 600;
  letter-spacing: rem(0.33);

  @if $box-model {
    padding: 0 0 rh(0.125);
    margin: 0 0 rh(0.125);
  }
}

@mixin headline--lvl4($box-model: true) {
  @include headline;

  font-size: rem(14);

  @if $box-model {
    padding: 0 0 rh(0.25);
    margin: 0 0 rh(0.25);
  }
}

@mixin headline--lvl5($box-model: true) {
  @include headline;

  font-size: rem(12);
  font-weight: 400;
  color: rgba($primary-font-color, 0.75);
  letter-spacing: 0.8px;

  @if $box-model {
    padding: 0 0 rh(0.125);
    margin: 0;
  }
}

// ---------
// Implementation
@if $generate-classes {
  .is-h1,
  h1 {
    @include headline--lvl1;

    &.underline {
      @include headline--lvl1--underline;
    }
  }

  .is-h2,
  h2 {
    @include headline--lvl2;

    &.subtitle {
      @include headline--lvl2--subtitle;
    }
  }

  .is-h3,
  h3 {
    @include headline--lvl3;
  }

  .is-h4,
  h4 {
    @include headline--lvl4;
  }

  .is-h5,
  h5 {
    @include headline--lvl5;
  }
}
