// =======================
// Global Buttons Styles
// =======================

$generate-classes: false !default;

@mixin input {
  @include paragraph(false);

  width: 100%;
  max-width: rem(300);
  padding: rh(0.25) rem(6);
  border: 0;
  border-radius: 6px;
  margin-bottom: rh(1);
  color: $input-fc;
  font-weight: 600;
  font-family: $font-family--header;
  text-align: center;
  background-color: $input-bgc;
  outline: none;
  box-shadow: rem(1 1 14) 0 rgba($black, 0.1);

  &::placeholder {
    color: $input-fc;
  }

  &:active,
  &:focus {
    border: 0;
    border-radius: 6px;
  }
}

@mixin input--large {
  max-width: rem(460);
}

@mixin input--reset {
  @include button--base;
}

@mixin input--submit {
  @include button--base;
}

// ---------
// Implementation
@if $generate-classes {
  input[type="date"],
  input[type="datetime-local"],
  input[type="datetime"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    @include input;

    &.large {
      @include input--large;
    }
  }

  /* stylelint-disable */
  input[type="search"] {
    -webkit-appearance: textfield;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
  /* stylelint-enable */

  input[type="reset"] {
    @include input--reset;
  }

  input[type="submit"] {
    @include input--submit;
  }
}
