// =======================
// Global Links Styles
// =======================

$generate-classes: false !default;

@mixin link--stand-alone {
  @include paragraph--small(false);
  @include transition(color);

  display: inline-block;
  padding: rem(2 6);
  color: $link-fc;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:focus,
  &:hover,
  &.nuxt-link-exact-active {
    color: $link-fc--hover;
  }

  &:active {
    color: $link-fc--active;
  }
}

@mixin link--primary {
  color: $link-primary-fc;
}

// ---------
// Implementation
@if $generate-classes {
  a.stand-alone {
    @include link--stand-alone;
  }

  .link {
    @include link--stand-alone;
  }

  .link--primary {
    @include link--primary;
  }
}
