// =======================
// Global Unorder List Styles
// =======================

$generate-classes: false !default;

@mixin list--unordered {
  @include paragraph(false);

  padding-left: calc-rem(30);
  margin: rh(0.5) 0;
  list-style: square;

  li {
    padding-left: calc-rem(8);
    margin: 0 0 rh(0.25);

    > ul {
      padding-bottom: 0;
      padding-left: calc-rem(10);
      margin: rh(0.25) 0 0;

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include breakpoint(medium) {
    padding-left: calc-rem(50);
    margin: rh(1) 0;

    li {
      margin-bottom: rh(0.5);

      > ul {
        padding-left: calc-rem(10);
      }
    }
  }

  @include breakpoint(xlarge) {
    padding-left: calc-rem(60);
    margin: rh(1.5) 0;
  }
}

@mixin list--inline {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: rem(0 6);
  }
}
// ---------
// Implementation
// ---------
// Implementation
@if $generate-classes {
  .rt-content {
    ul {
      @include list--unordered;
    }
  }

  .list--inline {
    @include list--inline;
  }
}
