// =======================
// Colors Variables
//
// Naming convention - base color + the name of the color base
// on the project http://chir.ag/projects/name-that-color/
// =======================

// Project Palette
$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$green-meadow: #1db954;
$red-firebrick: #b22222;
$greay-tundora: #434343;
$grey-mine: #282828;
$grey-cocoa: #1E1A1A;
$grey-cod: #191414;
$black: #000;

$green-spotify: $green-meadow;
$blue-twitter: #55acee;
$blue-facebook: #3b5998;
$blue-linkedin: #5291dd;

$header-gradient: linear-gradient(0deg, $grey-cocoa, $greay-tundora);

// =======================
// Colors Constants
//
// In this section are defined color constants for various elements of web.
// **To define color use only variables from above section**
// =======================

// Base Colors
$primary-font-color: $white !default;
$body-bgc: $grey-cod !default;
$error-color: $red-firebrick;

// Headline Colors
$headline-fc: $white;

// // Buttons Colors
$button-fc: $grey-cod !default;
$button-bgc: $white !default;
$button-fc--hover: $grey-cod !default;
$button-bgc--hover: darken($white, 20%) !default;
$button-bc--active: darken($white, 20%) !default;
$button-primary-fc: $white !default;
$button-primary-bgc: $green-meadow !default;
$button-primary-fc--hover: $white !default;
$button-primary-bgc--hover: darken($green-meadow, 20%) !default;
$button-primary-bc--active: darken($green-meadow, 20%) !default;

// Anchor Links Colors
$link-fc: $white !default;
$link-fc--hover: darken($white, 20%) !default;
$link-fc--active: darken($white, 20%) !default;
$link-underline: $link-fc !default;
$link-primary-fc: $green-meadow !default;
$link-primary-fc--hover: darken($green-meadow, 20%) !default;
$link-primary-fc--active: darken($green-meadow, 20%) !default;
$link-primary-underline: $link-primary-fc !default;

//Input Colors
$input-fc: $grey-cod !default;
$input-bgc: $white !default;
$input-placeholder-fc: rgba($grey-cod, 0.8) !default;
