// =======================
// Fonts Imports & Settings
// =======================

// -----------
// Fonts Variables
//
$font-family--sans-serif: "Canaro", Arial, Roboto, sans-serif;
$font-family--serif: Georgia, Cambria, "Times New Roman", Times, serif;
// $font-family--monospace: Consolas, "Liberation Mono", Courier, monospace;

$font-family--body: $font-family--sans-serif;
$font-family--header: $font-family--sans-serif;
// $font-family--button: $font-family--body;