// =======================
// Fonts Imports & Settings
// =======================

// -----------
// Fonts Variables
//
$font-family--sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-family--body: $font-family--sans-serif;
$font-family--header: $font-family--sans-serif;
