$fluid-breakpoint: "xlarge" !default;
$maxed-breakpoint-width: map-get($breakpoints, "xxlarge") !default;
$maxed-row-width: 1200 !default;

@mixin row {
  max-width: rem($maxed-row-width);
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

@mixin row--outer {
  @include row;

  padding: 0 rem($padding--side);
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($fluid-breakpoint) {
    max-width: percentage($maxed-row-width / strip-unit($maxed-breakpoint-width));
  }

  @include breakpoint($maxed-breakpoint-width) {
    max-width: calc-rem($maxed-row-width);
  }
}

@mixin row--inner {
  @include row;

  max-width: rem(640);
  padding: 0 rem($padding--side);
  margin-right: auto;
  margin-left: auto;
}

// ---------
// Implementation
@if $generate-classes {
  .row--outer {
    @include row--outer;
  }

  .row--inner {
    @include row--inner;
  }

  .row {
    @include row;
  }
}
