$topbar-height: rem(40);

.topbar {
  @include row--outer;

  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $topbar-height;

  &--item {
    display: flex;
    justify-content: center;
    align-items: center;

    &.left {
      //
    }

    &.right {
      //
    }
  }

  .icon {
    width: auto;
    height: rem(24);
    cursor: pointer;
    fill: $white;
  }
}
