$topbar-height: rem(40);

.topbar {
  @include row--outer;

  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $topbar-height;

  &--item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(24);

    &.left {
      //
    }

    &.center {
      @include headline--lvl3;
      font-size: rem(14);
      margin: 0;
      padding: 0;
    }

    &.right {
      //
    }
  }

  .icon {
    width: auto;
    height: rem(24);
    cursor: pointer;
    fill: $white;
  }
}
